.main {
  /* width: 100%;
  height: 1300px; */
  background: url(../img/main_bg.jpg) no-repeat center top/100%;

  /* 设置 背景图片 根据拉伸 缩放 */
  /* 第一个值指定图片的宽度，第二个值指定图片的高度:默认情况下就是auto */
  /* 可以直接写缩写属性 */
  /* background-size: 100% auto; */
}

.main .link {
  display: block;
  width: 1200px;
  height: 440px;
  margin: 8px auto 12px;
}

/* 内容区域 */
.main .section-content{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.main .section-content .left-content {
  width: 872px;
}

.main .section-content .right-content {
  width: 295px;
}
